<%- include('partials/header'); %>
<div id="big-container">
    <div id="first-container">Laravel</div>
    <div id="second-container">
        <form action="#" method="post">
            <p>E-mail Address<input type="text" name="mail"></p>
            <p>Password<input type="text" name="password"></p>
            <p><input type="radio" name="radio">Remember me</p>
            <button name="login">Login</button>
            <a href="#">Forget Your Password?</a>
        </form>

    </div>
</div>
<%- include('partials/footer'); %>