<%- include('partials/header'); %>
<div id="big-container">
    <div id="first-container">Laravel</div>
    <div id="second-container">
        <form action="#" method="post">
            <p>name<input type="text" name="name"></p>
            <p>E-mail Address<input type="text" name="address"></p>
            <p>Password<input type="text" name="password"></p>
            <p>Comfirmed Password<input type="text" name="comfirmed"></p>
            <button name="register">Register</button>
        </form>

    </div>
</div>
<%- include('partials/footer'); %>